<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bemkchsunsch-001-site1.ktempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win6187.site4now.net:8172/msdeploy.axd?site=bemkchsunsch-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>bemkchsunsch-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>bemkchsunsch-001</UserName>
    <_SavePWD>false</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="SundaySchDBConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL6031.site4now.net;Initial Catalog=db_ac1219_sunsch;User ID=db_ac1219_sunsch_admin;Password=ZhuRiXue@211125" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL6031.site4now.net;Initial Catalog=db_ac1219_sunsch;User ID=db_ac1219_sunsch_admin;Password=ZhuRiXue@211125" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SundaySchDBConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL6031.site4now.net;Initial Catalog=db_ac1219_sunsch;User Id=db_ac1219_sunsch_admin;Password=ZhuRiXue@211125" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SundaySchDBConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL6031.site4now.net;Initial Catalog=db_ac1219_sunsch;User ID=db_ac1219_sunsch_admin;Password=ZhuRiXue@211125</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>