<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bem-sun-sch.runasp.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>site45599.siteasp.net</MSDeployServiceURL>
    <DeployIisAppPath>site45599</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>site45599</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="SundaySchDBConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=db34200.public.databaseasp.net;Initial Catalog=db34200;User ID=db34200" Name="Data Source=db34200.public.databaseasp.net;Initial Catalog=db34200;User ID=db34200;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=db34200.public.databaseasp.net;Initial Catalog=db34200;User ID=db34200;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SundaySchDBConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=db34200.public.databaseasp.net;&#xD;&#xA;                         Initial Catalog=db34200;&#xD;&#xA;                         User ID=db34200;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SundaySchDBConnection-Web.config Connection String">
      <ParameterValue>Data Source=db34200.public.databaseasp.net;Initial Catalog=db34200;User ID=db34200;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>